@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
/*font-family: 'Dancing Script', cursive;*/

/*CSS in part referenced to Christine Bittle */

/*GENERAL CSS*/


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}



.cwidth {
    max-width: 1080px;
    margin: 0 auto;
}

/*Welcome Page*/

#welcome_page_main_heading {
    color: blue;
    font-size: 3em;
    font-family:'Dancing Script', cursive;
    text-align: center;
}

#welcome_message {
    color: blue;
    font-size: 2em;
    text-align: center;
    margin-top:50px;
    
}
.Button {
    text-align: center;
    width: 240px;
    height: 50px;
    background: #f9f9f9;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightblue;
    padding: 10px;
    margin-left: 42%;
    margin-top: 5%;
    text-decoration: none;
    transition: all 0.2s linear;
}
    .Button:active {
        transform: translateY(3px);
        box-shadow: 0px 0px white;
    }
    .Button:hover {
        transform: scale(1.05);
        
    }

#welcome_button_container{
    padding-top: 100px;
}
/*Master Layout*/
header {
    display: flex;
}

    header h1 {
        margin: 10px;
        font-family: 'Comic Sans MS';
    }

    header ul li {
        display: inline-block;
        text-decoration: none;
        padding: 10px;
    }


#navigation {
    display: flex;
    padding: 5px;
}


header {
    background: #e5ecf4;
    height: 80px;
    color: #ffffff;
    font-size: 25px;
}

footer {
    margin-top: 50px;
    background: #e5ecf4;
    padding: 30px 0;
}

/*BASIC HEADER STYLE*/

/*Single view*/
#body_page {
    margin-bottom: 50px;
}

/*CSS FOR TABLE-LIKE STYLING*/
#pages_result {
    width: 100%;
}

.listitem {
    background: #fefefe;
    padding: 12px 5%;
    width: 90%;
    overflow: hidden;
}

    .listitem:after {
        clear: both;
    }

    .listitem:nth-child(2n) {
        background: #e5ecf4;
    }

    .listitem:hover {
        background: #effffa;
    }
/*
    sandbox.bittsdevelopment.com/colcalc
    columns : 4
    gutter/column ratio : 0.2
*/
.col4, .col4last {
    float: left;
    width: 21.73%;
    margin-right: 4.34%;
}

.col4last {
    margin-right: 0%;
}

.col2, .col2last {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.col2last {
    margin-right: 0%;
}

/*
Each column should be 29.41% wide with a gutter space of 5.88%
*/
.col3 {
    width: 29.41%;
    float: left;
    margin-right: 5.88%;
}

.col3last {
    width: 29.41%;
    float: left;
    margin-right: 0;
}

/*
Each column should be 17.24% wide with a gutter space of 3.44%
*/
.col5 {
    width: 17.24%;
    float: left;
    margin-right: 3.44%;
}

.col5last {
    width: 17.24%;
    float: left;
    margin-right: 0;
}

.viewnav {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

    .viewnav:after {
        clear: both;
    }

    .viewnav .left {
        float: left;
    }

    .viewnav .right {
        float: right;
    }

.spaced {
    margin-left: 20px;
}

.thin {
    width: 100px;
    margin-top: 50px;
}


/*Created Page */

#custom_header {
    background-color: #f9f9f9;
    color: black;
}

#custom_page_main_heading {
    color: blue;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#custombody {
    /*border:4px dashed blue;*/
    width: 40vw;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px lightblue;
    border-radius:10px;
    padding-top:10px;
}
#image_placeholder {
    float: right;
    border: 1px solid black;
    padding: 20px;
    height: 120px;
    width: 200px;
    box-shadow: 5px 5px 5px lightblue;
    margin: 10px 20px;
}
footer{
    background-color:#f9f9f9;
}